form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    max-width: 1024px;
    padding: 25px;
    border-top: 1px solid hsla(0, 0%, 0%, 0.137);
}

@media(max-width: 767px) {
    .form {
        flex-direction: column;
    }
}

.form__input {
    width: 100%;
    max-width: 1024px;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid hsla(0, 0%, 0%, 0.137);
}

@media(max-width: 767px) {
    .form__input {
        flex-basis: 50px;
        width: 90%;
    }
}

.form__button {
    color: #fff;
    flex-basis: 200px;
    background-color: teal;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0;
}

@media(max-width: 767px) {
    .form__button {
        flex-basis: 50px;
        width: 90%;
        margin-bottom: 10px;
    }
}

section {
    background-color: #fff;
    width: 100%;
    max-width: 1024px;
    margin-top: 35px;
    padding: 10px;
}

@media(max-width: 767px) {
    .section {
        width: 100%;
        max-width: 767px;
        justify-content: center;
    }
}

.section_List {
    margin-top: 0px;
    border-top: 1px solid hsla(0, 0%, 0%, 0.137);
}

.section__header {
    color: #000;
    margin: 0 auto;
    padding: 10px;
}