.list {
    padding: 0px;
}

.list__item {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 20px
}


.list__item--done {
    color:green;
}

.list__item--remove {
    color:red;

}  

.list__button {
    cursor: pointer;
}


.list__button--done {
    background-color: rgba(0, 255, 0, 0.37);
}

.list__button--remove {
    background-color: rgba(255, 0, 0, 0.479);
}

.list__button--done:hover{
    background-color: rgba(0, 255, 0, 0.705);
}

.list__button--remove:hover {
    background-color: rgba(255, 0, 0, 0.747);
}